*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	overflow: hidden;
}

.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.canvas {
	background: white;
}

.actions {
	position: fixed;
	top: 14px;
	left: 14px;
}

.actions > svg {
	width: 1.2em;
	height: 1.2em;
	transition: all 0.3s;
	margin-left: 7px;
}

.actions svg.active {
	fill: brown;
	transform: scale(1.2);
	transition: all 0.3s;
}

.colors {
	position: fixed;
	top: 60px;
	left: 20px;
}
.colors li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all 0.3s;
}

.colors li.active{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
	transform: scale(1.2);
}

.colors .brown{
	background: brown;
}
.colors .green{
	background: green;
}
.colors .orange{
	background: orange;
}
.colors .black{
	background: black;
}


ol.line {
	position: fixed;
	top: 15px;
	right: 10px;
	margin-left: 12px;	
}

.line > li {
	width: 14px;
	border: 2px solid black;
	margin-bottom: 20px;
	transition: all 0.3s;
}

li.thick {
	border: 7px solid black;
}
li.medium {
	border: 4px solid black;
	width: 20px;
}
li.thin {
	border: 2px solid black;
	width: 24px;
}
li.start{
	border: 1px solid black;
	width: 26px;
}

.line > li.active {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	transform: scale(1.2);
}

.download {
	transform: scall(1.2);
}
