*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.canvas {
	background: white;
}

.actions {
	position: fixed;
	top: 14px;
	left: 14px;
}

.actions > svg {
	width: 1.2em;
	height: 1.2em;
	transition: all 0.3s;
	margin-left: 7px;
}

.actions svg.active {
	fill: brown;
	transform: scale(1.2);
	transition: all 0.3s;
}

.colors {
	position: fixed;
	top: 50px;
	left: 20px;
}
.colors li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all 0.3s;
}

.colors li.active{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
	transform: scale(1.2);
}

.colors .brown{
	background: brown;
}
.colors .green{
	background: green;
}
.colors .orange{
	background: orange;
}

